/*body{
  width: 100%;
  height: 100%;
}*/
.btn-group-sm .btn-fab {
    position: fixed !important;
    right: 70px;
    /*left: 21px;*/
}

.btn-group .btn-fab {
    position: fixed !important;
    right: 70px;
    /*right: 20px;*/
}

#main {
    bottom: 47px;
}

#mail {
    bottom: 90px
}

#sms {
    bottom: 135px
}

#fac {
    bottom: 180px
}

#autre {
    bottom: 225px
}
