/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 75%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

form {
  width: 100%;
  padding: 2rem;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-item {
  width: 100%;
}
a {
  cursor: pointer;
}
